.csw-btn-button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 35px;
  color: #ffffff !important;
  border-radius: 5px;
  background: #9B6A1D;
  border: 1px solid #9B6A1D;
  transition: 0.4s;
}
.csw-btn-button:hover {
  background: #292929;
}

.btn-buttt{
  text-align: right;
  margin-top: -5rem;
}
.my-div-style{
  margin-top:6rem;
}
body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 18mm;
  
}
.but1 {
  background-color: #1d50b1; /* màu của Quản trị mạng ^^ */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fa-stack {
  color: #1d50b1;
}

.chinhthu {
  text-align: left;
}
.syoki img {
  width : 99vw ;
  height: 737 ;
  margin:0;
  padding:0;
}

.touroku img {
  width: 365px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 30%;
  left: 5.74%;
}

.roguinn img {
  width: 355px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 30%;
  left: 70.1%;
}


.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  position: absolute;
  top: 30%;
  left: 5.74%;
}

.toppage img {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}




#regForm {
  background-color: #ffffff;
  margin: 0px auto;
  font-family: Raleway;
  padding: 40px;
  border-radius: 10px
}

#regForm h1 {
  text-align: center
}
/* 
.tab input {
  padding: 8px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa
} */

.tab input.invalid {
  background-color: #ffdddd
}

.tab {
  display: none
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer
}

button:hover {
  opacity: 0.8
}

#prevBtn {
  background-color: #bbbbbb
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5
}

.step.active {
  opacity: 1
}

.step.finish {
  background-color: #4CAF50
}

.all-steps {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px
}

.thanks-message {
  display: none
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%
}

.container:hover input~.checkmark {
  background-color: #ccc
}

.container input:checked~.checkmark {
  background-color: #2196F3
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

.container input:checked~.checkmark:after {
  display: block
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white
}