.csw-btn-button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 35px;
  color: #ffffff !important;
  border-radius: 5px;
  background: #9B6A1D;
  border: 1px solid #9B6A1D;
  transition: 0.4s;
}
.csw-btn-button:hover {
  background: #292929;
}

.btn-buttt{
  text-align: right;
  margin-top: -5rem;
}
.my-div-style{
  margin-top:6rem;
}
body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height:15vh;
}
.but1 {
  background-color: #1d50b1; /* màu của Quản trị mạng ^^ */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.fa-stack {
  color: #1d50b1;
}

.chinhthu {
  text-align: left;
}