{% load static %}

{% block header%}
<!-- <header class="masthead" style="background-image: url('static/assets/img/syoki.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            </div>
        </div>
    </div>
</header>
<link href="{% static 'css/styles.css' %}" rel="stylesheet"> -->
{% endblock %}

{% block contents%}

<div class="syoki">
  <img src="{% static 'assets/img/syoki.png' %}" alt="初期背景"></a>
</dev>

<!-- 新規登録 -->
<div class="touroku">
    <a href="{% url 'account_signup' %}"><img src="{% static 'assets/img/touroku.png' %}" alt="背景"></a>
</div>

<!-- ログイン -->
<div class="roguinn">
    <a href="{% url 'account_login' %}"><img src="{% static 'assets/img/roguinn.png' %}" alt="背景"></a>
</div>

<link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

{% endblock %}