{% extends 'base.html' %}
{% load static %}

{% block active_userinfo %}active{% endblock %}
{% block header%}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
    </div>
</header>
{% endblock %}
{% block contents %}
<body id="listbody">
    <div class="form1">
        <form method="get" action="{% url 'taro:kensaku-kekka' %}">
            <div class="searchbox" id="kensakubox">
                <input name="kensakunaiyo" value="{{ request.GET.query }}" type="text" placeholder="フリーワード検索">
            </div>
            <div class="select-group" >
                <div class="selectarea" id="kensakuken">
                    <select name="kenmei" value="{{ request.GET.query }}">
                        <option value="">県名</option>
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option>
                        <option value="福島県">福島県</option>
                        <option value="茨城県">茨城県</option>
                        <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="埼玉県">埼玉県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option> 
                    </select>
                </div>
                <div class="selectmoney" id="kensakumoney">
                    <select name="okane" value="{{ request.GET.query }}">
                        <option value="">費用</option>
                        <option value="1">1000円以下</option>
                        <option value="2">1000円~10000円</option>
                        <option value="3">10000円~50000円</option>
                        <option value="4">50000円~100000円</option>
                        <option value="5">100000円~</option>
                    </select>
                </div>
                <div class="selectage" id="kensakuage">
                    <select name="age" value="{{ request.GET.query }}" >
                        <option value="">年代</option>
                        <option value="10">10代</option>
                        <option value="20">20代</option>
                        <option value="30">30代</option>
                        <option value="40">40代</option>
                        <option value="50">50代</option>
                        <option value="60">60代</option>
                        <option value="70">70代</option>
                        <option value="80">80代</option>
                        <option value="90">90代</option>
                        <option value="100">100以上</option>
                    </select>
                </div>
            </div>
            <input name="userkensa" value="{{ request.GET.query }}" type="text" placeholder="ユーザー名検索" id="userkensakubox">
            <button class="btn btn-primary" type="submit" id="kensakubtn">検索🔍</button>
            
        </form>
    </div>

    <div class="postrank" id="postrank">
        <h3 id="rankfont">人気の投稿</h3>
        {% for taro in portfolio %}
            <div class="post-preview">       
                <a href="{% url 'taro:taro_detail' taro.pk %}">
                    <div class="post-title">
                        {% if taro.photo1 %}
                            <img src="{{ taro.photo1.url }}" width="150px" height="150px" />
                            <span id="rankname">{{ taro.areaname }}</span>
                        {% endif %}    
                    </div>
                </a>   
            </div>
            <hr>
        {% endfor %}
    </div>
    
    <div class="manrank" id="manrank">
    <h3 id="rankfont">人気のユーザー</h3>
    {% for m in man %}
        <div class="post-preview">
            <a href="{% url 'taro:mypage' m.pk %}">
                <div class="post-title" id="postrankpic">
                
                    <img src="{{ m.image.url }}" width="150px" height="150px" />
                    <span id="rankname">{{ m.username }}</span>     
                </div>
            </a>
        </div>
        <hr>
    {% endfor %}
    </div>
</body>    
{% endblock %}