{% extends 'base.html' %}
{% load static %}

{% block active_taro_list %}active{% endblock %}

{% block head %}

{% endblock %}

{% block header%}
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
    </div>
</header>
{% endblock %}

{% block contents %}
<body id="listbody">
    <div class="my-div-style w-100">
        <div class="col-3">
            {% if user.image %}
                <img src="{{ user.image.url }}" id="listicon">
            {% endif %}
        </div>
        <div class="row" id="listname">
            <div class="col-9">
                {{ user.username }}
            </div>
        </div>    
        <hr>
  
        <div class="row" id="listageframe">
            <div class="col-9" id="listage">
                {{ user.age }} 代
            </div>
        </div>
        <div class="row" id="listshokaiframe">
            <div class="col-9"id="listshokai">
                {{ user.shokai }}
            </div>
        </div>
        <p id="listiine"><br>♡{{ user.likerecieve }}</p>
        <p id="listtotal"><br>投稿数<br>{{ totalpost }}</p> 
        <p id="listtime"><br>はじめて<br>{{ time }}日</p>     
      <div class="container" id="haha" >
          <div class="row">
              <div class="my-div-style w-100">
                  <div class="col-lg-8 col-md-10 mx-auto">
                      <div class="clearfix"id="listproedit">
                          <a href="{% url 'taro:userinfo' user.pk %}" class="listproedit-button" rel="nofollow" target="_self">プロフィール編集▼</a>
                      </div>
                      <form action="" method="get">
                          <input type="submit" name="newsletter_sub" value="自分の投稿" id="listmy">
                          <input type="submit" name="newsletter_sub" value="お気に入り投稿" id="listfavo">
                      </form>
                      <div class="listpost" id="listpost">
                        {% if erabu %}
                            {% for taro in postlike %}
                                <div class="post-preview">
                                    <a href="{% url 'taro:taro_detail' taro.pk %}">
                                        <h2 class="post-title">
                                        {% if taro.photo1 %}
                                            <img src="{{ taro.photo1.url }}">
                                        {% endif %}
                                        </h2>
                                    </a>
                                </div>
                            {% empty %}
                                <p>投稿がありません</p>
                            {% endfor %}
                        {% else %}
                            {% for taro in taro_list %}
                                <div class="post-preview">
                                    <a href="{% url 'taro:taro_detail' taro.pk %}">
                                        <h2 class="post-title">
                                        {% if taro.photo1 %}                  
                                        <img src="{{ taro.photo1.url }}" width="150px" height="150px" />
                                        {% endif %}
                                        </h2>
                                    </a>
                                </div>
                            {% empty %}
                                <p>投稿がありません</p>
                            {% endfor %}
                        {% endif %} 
                      </div>            
                  </div>
              </div>
          </div>
      </div>
</body>
{% endblock %}